<p>sobre works!</p>
<div class="sobre-container">
    <h1>Sobre o Site</h1>
    <p>Bem-vindo ao nosso site de veganismo!</p>
  
    <h2>Objetivo</h2>
    <p>Nosso objetivo é fornecer uma plataforma de informações e receitas veganas para todos que desejam adotar um estilo de vida saudável e sustentável.</p>
  
    <h2>O que você encontrará aqui</h2>
    <ul>
      <li><strong>Receitas Veganas:</strong> Descubra novas receitas que são 100% livres de produtos de origem animal.</li>
      <li><strong>Dicas de Nutrição:</strong> Aprenda mais sobre como balancear sua alimentação de forma saudável.</li>
      <li><strong>Comunidade:</strong> Compartilhe suas próprias receitas e interaja com outros usuários.</li>
    </ul>
  
    <h2>Nossa Missão</h2>
    <p>Incentivar uma alimentação sustentável e consciente para o bem-estar dos animais, do planeta e das pessoas.</p>
  </div>
  